version: '3'

services:
  web:
    build: ./backend
    container_name: django_app
    command: sh -c "python3 manage.py makemigrations &&
                    python3 manage.py migrate &&
                    python3 manage.py collectstatic --no-input && 
                    gunicorn server.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - ./backend:/app
      - ./backend/static:/app/static
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - ./.env
      
  nginx:
    build: ./nginx
    container_name: nginx_server
    ports:
      - "80:80"
    depends_on:
      - web
      - ui
    volumes:
      - ./backend/static:/app/static
      - ./ui:/project
    restart: "on-failure"

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
  ui:
    container_name: ui
    build:
      context: ui
      target: builder
    ports:
      - 4200:4200
    volumes:
      - ./ui:/project
      - /project/node_modules

volumes:
  postgres_data:
