.button-wrapper {
    display: flex;
    align-items: center;
    button {
        padding: 5px 15px;
    }
}

@media (max-width: 767px) {
    .field-wrapper, .button-wrapper {
        width: 100%;
        .mat-form-field {
            width: 100%;
        }
    }
    .button-wrapper button {
        width: 100%;
        margin: 10px 0;
    }

    mat-button-toggle-group {
        display: flex;
        mat-button-toggle {
            flex-basis: 33%;
        }
    }
}


@media (min-width: 768px) {
    form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 5px 0;
    }
}
